<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema De Alumnos - LogIn</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CFP/css/bootstrap.min.css' %}">
</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <p class="h2">Centro De Formacion Profesional</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 p-4 text-center">
                <p class="h4">LogIn</p>
            </div>
        </div>
        
        <!--Formulario-->
        <div class="row p-4">
            <div class="col-6 shadow p-4 mx-auto">   <!--Con "mx-auto" le indico que centre el contenido en el eje x aplicando margen left y right-->
                {% load crispy_forms_tags %}
                <form action="" method="post" autocomplete="off">    
                    <!--Formulario-->
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                </form>
                <p class="h6 mt-4 text-center">Tu Nombre De Usuario Es Tu Email</p>
            </div>
        </div>
        
    </section>
</body>

<script src=" {% static 'CFP/js/jquery-3.6.0.min.js' %} "></script>
<script src=" {% static 'CFP/js/popper.min.js' %}"></script>
<script src=" {% static 'CFP/js/bootstrap.min.js' %}"></script>

</html>