{% extends 'Usuarios/menuAdmin.html' %}


{% block Contenido %}

    {% load crispy_forms_tags %}
    
    <form action="" method="post" id="frmEdit" autocomplete="off" class="m-4">
        {% csrf_token %}
        <di class="form-row">
            <div class="col-md-6">
                {{form.nombre | as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.cenForm | as_crispy_field}}
            </div>
        </di>
        <div class="form-row mt-4 mb-4">
            <div class="col-md-4">
                {{form.inscAbierta | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.habilitado | as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.practico | as_crispy_field}}
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-md-2">
                {{form.cantHoras | as_crispy_field}}
            </div>
            <div class="col-md-3">
                {{form.fechaInicio | as_crispy_field}}
            </div>
            <div class="col-md-3 mb-5">
                {{form.fechaFin | as_crispy_field}}
            </div>
            <div class="col-md-4 mb-5">
                {{form.profesor | as_crispy_field}}
            </div>
        </div>
        <hr class="mt-4">

        <p class="h5 text-center">Dias y Horarios En los que se dicta el curso</p>
        
        <div class="form-row">
            {% for dia in curso.diasHorarios.all %}
                
            <div class="col-md-3">
                <p>{{dia}} De: {{dia.horaInicio}} a {{dia.horaFin}}</p>
            </div>    
            
            
            {% endfor %}
        </div>

        <hr>
        <p class="h5 text-center">Editar Dias y Horarios</p>
        
        <p>
            <input type="checkbox" class="dias" id="lunes" name="dias" value="Lunes">
            <label for="dias">Lunes</label>
            <input type="time" class="LunesI" name="horaInicio" id="" disabled>
            <input type="time" class="LunesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Lunes" style="color: red;"></span>
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Martes">
            <label for="dias">Martes</label>
            <input type="time" class="MartesI" name="horaInicio" id="" disabled>
            <input type="time" class="MartesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Martes" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Miercoles">
            <label for="dias">Miercoles</label>
            <input type="time" class="MiercolesI" name="horaInicio" id="" disabled>
            <input type="time" class="MiercolesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Miercoles" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Jueves">
            <label for="dias">Jueves</label>
            <input type="time" class="JuevesI" name="horaInicio" id="" disabled>
            <input type="time" class="JuevesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Jueves" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Viernes">
            <label for="dias">Viernes</label>
            <input type="time" class="ViernesI" name="horaInicio" id="" disabled>
            <input type="time" class="ViernesF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Viernes" style="color: red;"></span>
            
        </p>

        <p>
            <input type="checkbox" class="dias" id="" name="dias" value="Sabado">
            <label for="dias">Sabado</label>
            <input type="time" class="SabadoI" name="horaInicio" id="" disabled>
            <input type="time" class="SabadoF" name="horaFin" id="" disabled>
            <span class="ml-2" id="Sabado" style="color: red;"></span>
            
        </p>

        <input type="submit" id="btnGuardar" class="btn btn-success" value="Guardar">
        <a href="{% url 'cursos' %}" class="btn btn-danger">Cancelar</a>
    </form>

    
{% endblock Contenido %}


{% block jquery %}
    <script>
        var Dias = $('input[name="dias"]')

        //Funcionalidad para habilitar la edicion de los inputs tipo time
        //Cuando cambia el estado de un checkbox
        $('.dias').change(function(){
            //pruebas
            //alert('clicked')

            //Creo una array con todos los inputs (checkbox) con nombre "dias"
            var checks = $('input[name="dias"]')
            //pruebas
            //console.log(checks.length);

            //Por cada elemento del array, cada checkbox
            $(checks).each(function(){
                //pruebas
                //console.log(this.value)
                //pruebas
                //$('.habilitar').prop("disabled", false);
                
                //Guardo el valor del checkbox, que tambien es el nombre de la clase de los
                //inputs de tipo "time" que le corresponde a cada checkbox
                var claseTime = this.value
                
                //Si el checkbox es "tildado"
                if ($(this).is(":checked")){
                    //pruebas
                    //alert("Clase: "+clase)

                    //Le saco la propiedad "disaabled" a los "time" con esa clase
                    $('.'+claseTime+'I').prop("disabled", false);
                    $('.'+claseTime+'F').prop("disabled", false);

                }
                //Si el checkbox no es "tildado"
                else{
                    //pruebas
                    //alert('naditas')

                    //Le agrego la propiedad "disabled" a los time con esa clase
                    $('.'+claseTime+'I').prop("disabled", true);
                    $('.'+claseTime+'F').prop("disabled", true);
                    
                    //Borro el valor que tiene el input "time"
                    $('.'+claseTime).val("")
                    
                }

            })
        })
    

        //Validar que input time no este vacio si checkbox es checked
        //Cada vez que se encuentre un input vacio al recorrer el array "Dias"
        //se agrega un elemento al array "vacios"
        var vacios = []

        $('#btnGuardar').click(function(e){
            e.preventDefault()
            
            /*Limpio el array de para que cada vez que se itera solo esten los
              valores que realmente esten vacios*/
            vacios = []

            //Itero sobre cada elemento de "Dias"
            $(Dias).each(function(){

                //Guardo la clase del checkbox
                var clase = this.value

                //Limpio el span que muestra mensaje de error de cada input
                $('#'+clase).text('')

                //Si el checkbox es "tildado"
                if ($(this).is(":checked")){
                    
                    //Guardo el string que representa el nombre de la clase para
                    //los inputs tipo time
                    var itimeI = $('.'+clase+'I')
                    var itimeF = $('.'+clase+'F')
                    
                    //si el input time está vacio
                    if( (itimeI.val() == "") || (itimeF.val() == "") ){
                        
                        //Agrego un elemento a la lista vacios
                        vacios.push($(this))
                        console.clear()
                        console.log(vacios.length)
                        
                        //Le asigno al span un mensaje de error
                        $('#'+clase).append('Completar Valores')
                        
                    }
                    
                }
                
            })

            //Si el array "vacios" no tiene elementos
            if (vacios.length == 0){
                //alert('enviado')

                //Envio el formulario
                $('#frmEdit').submit()
            }

        })
    </script>
{% endblock jquery %}
    