<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros De Formacion Profesional - Pcia Buenos Aires</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CFP/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CFP/css/home.css' %}">

</head>
<body>
    <section class="container mt-4 mb-4">
        <p>
            <h3 class="text-center font-weight-bold">CENTROS DE FORMACION PROFESIONAL</h3>
        </p>
        <p>
            <h4 class="text-center font-weight-bold">PROVINCIA DE BUENOS AIRES</h4>
        </p>
        
    </section>

    <header class="navbar navbar-expand-sm bg-dark text-white sticky-top mt-4">
        {# Form para buscador por localidades #}
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Localidad" name="localidad" value="{{request.POST.localidad}}" >
                <div class="input-group-append">
                  <button id="buscar" class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </div>
        </form>

        {# Opciones Barra Navegacion Usuario#}
        <ul class="navbar-nav ml-auto">
            
            {% if usuario.is_authenticated %}
                
                {% if usuario.is_superuser %}
                    <li class="nav-item">
                        <span class="mr-3">Administrador: {{usuario.username}}</span>
                    </li>

                    <li class="nav-item">
                        <a href=" {% url 'menu' %} " class="btn btn-outline-primary btn-sm mr-3">Menu Administracion</a>
                    </li>

                    <li class="nav-item">
                        <a href=" {%url 'logout'%} " class="btn btn-outline-primary btn-sm">Cerrar Cesion</a>
                    </li>
                {% elif usuario.es_alumno %}
                    <li class="nav-item"><span class="mr-3 font-weight-bold">{{usuario.first_name}} {{usuario.last_name}}</span></li>

                    <li class="nav-item">
                        <a href="" class="btn btn-outline-primary btn-sm mr-3">Menu De Alumno</a>
                    </li>

                    <li class="nav-item">
                        <a href=" {%url 'logout'%} " class="btn btn-outline-primary btn-sm">Cerrar Cesion</a>
                    </li>
                {% else %}
                    Es Profesor
                {% endif %}
                    
                
            {% else %}
                <li class="nav-item mr-3">
                    {#<button class="mr-2 btn btn-primary">Ingeresar</button>#}
                    <a href=" {%url 'login'%} " class="btn btn-primary">Ingresar</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'crearAlumno' %}" class="btn btn-primary">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </header>
           
    

    <div class="container-fluid">
        {% for loc in localidades %}
            <p><h3>{{loc}}</h3></p>
            
            <div class="row mt-4">
                {% for cso in cursos %}
                    
                    {% if cso.habilitado %}
                        {% if cso.cenForm.localidad == loc %}
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="card mb-3 shadow">
                                <div class="card-header">
                                    <div class="text-center font-weight-bold" style="height: 60px">
                                        <span class="h3 font-weight-bold">{{cso.nombre | title}}</span>
                                    </div>
                                </div>
                                
                                <div class="card-body">
                                    <p class="card-text"> <b>Centro De Formacion:</b>
                                        {{cso.cenForm}}
                                    </p>
                                    <p class="card-text"> <b>Localidad:</b>
                                        {{cso.cenForm.localidad}}
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    
                                    {% if cso.practico %}
                                        <li class="list-group-item">Practico</li>
                                    {% else %}
                                    <li class="list-group-item">Teórico</li>
                                    {% endif %}
                                        
                                    
                                    <li class="list-group-item">Duracion: {{cso.cantHoras}} horas</li>
                                    <li class="list-group-item">Inicia: {{cso.fechaInicio}} </li>
                                    <li class="list-group-item">Finaliza: {{cso.fechaFin}} </li>
                                </ul>
                                <div class="card-footer">
                                    
                                    
                                    {% if cso.inscAbierta %}
                                        
                                        {% if usuario.is_authenticated and usuario.es_alumno %}
                                            
                                            {% if cso in alumno.curso.all %}
                                                INSCRIPTO
                                            {% else %}
                                                <p class="text-center">
                                                    <a href="{% url 'inscCurso' cso.id %}" class="btn btn-success btn-block p-1">Inscribirse</a>
                                                </p>
                                            {% endif %}
                                                
                                        {% else %}
                                            <p class="text-center">
                                                <a href="{% url 'inscCurso' cso.id %}" class="btn btn-success btn-block p-1">Inscribirse</a>
                                            </p>
                                        {% endif %}
                                            
                                    {% else %}
                                        <p class="text-center p-2">Proximamente</p>
                                    {% endif %}
                                        
                                        
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                        
                {% endfor %} {#For Cursos#}
                                
            </div> {#FIN ROW LISTADO DE CURSOS#}
            <hr>
        {% endfor %} {#For Localidades#}
        
            
    </div> {# FIN CONTAINER PARA LISTADO DE CURSOS#}
    


    {#JS jQuery, Popper, Bootstrap#}
    <script src=" {% static 'CFP/js/jquery-3.6.0.min.js' %} "></script>
    <script src=" {% static 'CFP/js/popper.min.js' %} "></script>
    <script src=" {% static 'CFP/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'CFP/js/universal-parallax.min.js' %}"></script>

    
    {% block jquery %}
        <script>
            new universalParallax().init();
        </script>        
    {% endblock jquery %}
        
</body>
</html>
