{% extends 'CFP/home.html' %}


{% block Contenido %}


{% if messages %}
    {% for message in messages %}
        
        {% if message.level == 25 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">
                    <strong>{{message}}</strong>
                </p>
                <p class="text-center">
                    Accedé a <a href="{% url 'misCursos' %}">Mis Cursos</a> Para Ver Los Detalles 
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
            
    {% endfor %}
{% endif %}

<div class="container-fluid">
    {% for loc in localidades %}
        <p><h3>{{loc}}</h3></p>
        
        <div class="row mt-4">
            {% for cso in cursos %}
                
                {% if cso.habilitado %}
                    {% if cso.cenForm.localidad == loc %}
                    <div class="col-sm-6 col-md-4 col-lg-3">

                        <div class="card mb-3 shadow">
                            <div class="card-header">
                                <div class="text-center font-weight-bold" style="height: 60px">
                                    <span class="h3 font-weight-bold">{{cso.nombre | title}}</span>
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <p class="card-text"> <b>Centro De Formacion:</b>
                                    {{cso.cenForm}}
                                </p>
                                <p class="card-text"> <b>Localidad:</b>
                                    {{cso.cenForm.localidad}}
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                
                                {% if cso.practico %}
                                    <li class="list-group-item">Practico</li>
                                {% else %}
                                <li class="list-group-item">Teórico</li>
                                {% endif %}
                                    
                                
                                <li class="list-group-item">Duracion: {{cso.cantHoras}} horas</li>
                                <li class="list-group-item">Inicia: {{cso.fechaInicio}} </li>
                                <li class="list-group-item">Finaliza: {{cso.fechaFin}} </li>
                            </ul>
                            <div class="card-footer">
                                
                                
                                {% if cso.inscAbierta %}
                                    
                                    {% if usuario.is_authenticated and usuario.es_alumno %}
                                        
                                        {% if cso in alumno.curso.all %}
                                            INSCRIPTO
                                        {% else %}
                                            <form action="{% url 'inscCurso' cso.id %}" method="POST" class="d-inline frmInsc" name="{{cso.nombre}}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success btn-block btn-sm" id="inscribir">
                                                    Inscribirse
                                                </button>
                                            </form>
                                        {% endif %}
                                            
                                    {% else %}
                                        <p class="text-center">
                                            <a href="{% url 'inscCurso' cso.id %}" class="btn btn-success btn-block p-1">Inscribirse</a>
                                        </p>
                                    {% endif %}
                                        
                                {% else %}
                                    <p class="text-center p-2">Proximamente</p>
                                {% endif %}
                                    
                                    
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                    
            {% endfor %} {#For Cursos#}
                            
        </div> {#FIN ROW LISTADO DE CURSOS#}
        <hr>
    {% endfor %} {#For Localidades#}
    
        
</div> {# FIN CONTAINER PARA LISTADO DE CURSOS#}
{% endblock Contenido %}
    

{% block jquery %}
<script>
            
    $(document).ready(function(){

        $(".frmInsc").submit(function(e){
            e.preventDefault(e);
            var ruta = $(this).attr('action');
            var curso = $(this).attr('name')

            //Acá uso el plugin "JQUERY-CONFIRM"
            $.confirm({
                theme: 'bootstrap',
                title: curso,
                content: 'Inscribirse Al Curso?',
                buttons: {
                    //Primer boton
                    danger:{
                        text:'Inscribirse',
                        btnClass:' btn-success btn-block',
                        action: function(){
                            window.location.href=ruta;
                        }
                    },
                    //Segundo boton
                    info:{
                        text: 'Cancelar',
                        btnClass: 'btn-info btn-block',
                        action: function(){
                            this.close();
                        }
                    }
                }
            });
        });

    });

</script>
{% endblock jquery %}
    