{% extends 'Usuarios/menuPreceptor.html' %}


{% block Contenido %}

{% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="text-center">
            <strong>{{message}}</strong>
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
    
    <form action="" method="POST" autocomplete="off" class="mt-5">
        {% csrf_token %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Alumno</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Porcentaje De Asistencia</th>
                    <th scope="col">Nota Del Curso</th>
                    <th scope="col">Aprobado</th>
                </tr>
            </thead>

            <tbody>
                
                {% for ca in cuAl %}
                    
                    {% if not ca.aprobado %}
                        <tr>
                            {# Nombre y apellido #}
                            <td id="{{ca.id}}">
                                {{ca.alumno.usr_alumno.first_name}} {{ca.alumno.usr_alumno.last_name}}
                                <input type="hidden" name="cursoalumno" value="{{ca.id}}">
                            </td>

                            {# DNI Del Alumno #}
                            <td>
                                {{ca.alumno.Dni}}
                            </td>
                            
                            {# Porcentaje De Asistencia #}
                            <td>
                                <input class="form-control" type="number" name="asistCurso" id="asis{{ca.id}}" value="{{ca.porcAsist}}" max="100">
                            </td>
                            
                            {# Nota Del Curso #}
                            <td>
                                <input class="form-control" type="number" name="notaCurso" id="nota{{ca.id}}" value="{{ca.notaCurso}}" max="10">
                            </td>

                            {# Checkbox para valor "Aprobado" #}
                            <td>
                                <input class="form-check-input ml-4 checks" type="checkbox" name="aprobado{{ca.id}}">
                            </td>
                        </tr>
                    {% endif %}
                        
                    

                {% endfor %}
                    
            </tbody>
        </table>

        <input type="submit" value="Aceptar">
    </form>

{% endblock Contenido %}


{% block jquery %}
    <script>
        //Creo un array con todos los checkboxes
        //En el selector uso " ^ " porque no todos tienen el mismo nombre
        //De ese modo capturo todo lo que empiece con "aprobado"
        /* var aprobados = $('input[name^="aprobado"]')
        //console.log(aprobados.length)
        
        //Por cada elemento del array, cada checkbox
        $(aprobados).each(function(){
            
            //Si el checkbox es "tildado"
            if ($(this).is(":checked")){
                console.log('checked: '+$(this).val())
            }
        }) */

        //Cada vez que un checkbox es tildado
/*         $('.checks').change(function(){
            
            //Creo un array con todos los checkboxes
            //En el selector uso " ^ " porque no todos tienen el mismo nombre
            //De ese modo capturo todo lo que empiece con "aprobado"
            var aprobados = $('input[name^="aprobado"]')
            //console.clear()
            //console.log(aprobados.length)
            
            //Por cada elemento del array, cada checkbox
            $(aprobados).each(function(){
                
                //Si el checkbox es "tildado"
                if ($(this).is(":checked")){
                    console.log('checked: '+$(this).val())
                }
            })  
            
        }) */
    </script>
{% endblock jquery %}
