<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFPBA: {{titulo}}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'CFP/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CFP/css/estilos.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}
    
    <div class="container">
        <h2 class="mt-4 text-center mb-4">{{titulo}}</h2>

        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{formUser | crispy}}
            {{formAlumno | crispy}}
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </form>
    </div>


    <!--JS jQuery, Popper, Bootstrap-->
    <script src=" {% static 'CFP/js/jquery-3.6.0.min.js' %} "></script>
    <script src=" {% static 'CFP/js/popper.min.js' %} "></script>
    <script src=" {% static 'CFP/js/bootstrap.min.js' %} "></script>
</body>
</html>