<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion | {{titulo}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CFP/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CFP/css/estilos.css' %}">

</head>
<body>
    <section class="container">
        <!--
            ----------------------------------------------------------------
                                    BARRA NAVEGACION
            ----------------------------------------------------------------
        -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'menu' %}">Administracion</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Alumnos
                        </a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item text-white" href="">Registrar Nuevo Alumno</a>
                            <a class="dropdown-item text-white" href="">Editar Datos De Alumno</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Profesores
                        </a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item text-white" href="#">Registrar Nuevo Profesor</a>
                            <a class="dropdown-item text-white" href="#">Editar Datos De Profesor</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Cursos
                        </a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item text-white" href="">Registrar Nuevo Curso</a>
                            <a class="dropdown-item text-white" href="">Editar Datos De Cursos</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Materias
                        </a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item text-white" href="">Registrar Nueva Materia</a>
                            <a class="dropdown-item text-white" href="">Editar Datos De Materia</a>
                            <a class="dropdown-item text-white" href="#">Consultar Notas</a>
                            <a class="dropdown-item text-white" href="#">Consultar Asistencias</a>
                            <a class="dropdown-item text-white" href="#">Habilitar Inscripcion A Finales</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Localidades
                        </a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item text-white" href="{% url 'localidadNueva' %}">Nueva Localidad</a>
                            <a class="dropdown-item text-white" href="#">Editar Datos Localidades</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="{% url 'logout' %}">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--
            ----------------------------------------------------------------
                                    FIN BARRA NAVEGACION
            ----------------------------------------------------------------
        -->
        <p class="h3 text-center mt-2">{{titulo}}</p>
        {% block Contenido %}
            
        {% endblock Contenido %}
            

    </section>
    <!--Fin container-->

    <!--JS jQuery, Popper, Bootstrap-->
    <script src=" {% static 'CFP/js/jquery-3.6.0.min.js' %} "></script>
    <script src=" {% static 'CFP/js/popper.min.js' %} "></script>
    <script src=" {% static 'CFP/js/bootstrap.min.js' %} "></script>

    
    {% block jquery %}
        
    {% endblock jquery %}
        
</body>
</html>